
body {
  background-color: #2C2A2A;
  /* overflow-y: hidden;
  overflow-x: hidden; */
}

html { 
  scroll-behavior: smooth;
}

.navbar {
  margin-top: 30px;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.Login { 
  border: solid 1px black;
  padding: 3px;

  text-align: center;
  width: 70px;
  height: auto;
  border-radius: 4px;
  background-color:#4e9dd1;
}


.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 5px;
  display: flex;
  gap: 35px;
}

/* Style for the list items */
.navbar li {
  color: white;
  font-size: 20px;
 
}

/* Style for the links */
.navbar a {
  color: white;
  text-decoration: none;
}

.about { 
  margin-right: 60rem;
  margin-left: 1rem;
}

.Login { 
  margin-right: 1rem;
}


.Register a:hover {
  color: #24e04d;
}

.about a:hover {
  color: #4e9dd1;
}

.Login a:hover {
  color: #000000;
}
